*{
    margin:0;
    padding:0;
}


.topnav{
    width: 100%; 
    height: 50px;
    background-color:#82ae46;
    position: absolute;
    /* margin-top:-8px;
    margin-left: -8px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;

} 

.topnav span{
    text-align: center;
    display: inline-block;
    margin: 15px auto;
    width: 420px;

}

.seconddiv{
    height: 140px;
    width: 100vw;
    background-color: black;
    position:absolute;
    /* margin-left: -8px; */
    text-align:right;

}

.second div a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px;
    display: inline-block;
    margin-right: 20px;
    padding: 20px;

}

}
    


 /* nav div{

  background-color:#82ae46;
   height: 50px;
   max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.25rem;
 }


nav div a{
    display: block;
    padding: 0.5rem 1rem; 
    text-decoration: none; 
    color: white;
    cursor:pointer;
    text-transform: uppercase;
       */
  
}